/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* styles.css */

body {
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  font-family: 'Arial', sans-serif;
  color: #333;
}

.container {
  padding: 20px;
}

.input-field {
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 300px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #555;
}

.card-text {
  font-size: 1.2em;
}

.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 150px;
  padding: 10px;
}

.forecast-item h5 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #555;
}

.forecast-item p {
  font-size: 1em;
  margin-bottom: 5px;
}

